---
import "@styles/global.css";
import Profile from "@assets/profile.json";
import { shared } from "@services/shared";

const functions = new shared();
---

<section>
    {
        Profile.credentials.map((cred) => (
            <div class="credential">
                {cred.title} -
                <span class="info">
                    {cred.info.map(function (info) {
                        if (functions.IsEmpty(info.link)) {
                            return <span> {info.title} </span>;
                        } else {
                            return (
                                <a href={info.link} target="_blank">
                                    {info.title}
                                </a>
                            );
                        }
                    })}
                </span>
            </div>
        ))
    }
</section>
<style>
    .credential {
        padding-bottom: 1rem;
    }
    .info {
        font-size: 1rem;
        font-style: italic;
    }
</style>
